<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div id="layout">
        <div class="content">
            <h1>Name (from id_token): {{name}}</h1>

            <h2>Claims from userinfo endpoint:</h2>
            <div>Name: {{userinfo['name']}}</div>
            <div>Email: {{userinfo['email']}}</div>
            <div>Roles: {{userinfo['roles']}}</div>

            <h2>Claims info (from access token)</h2>
            <table>
                <thead>
                    <th>key</th>
                    <th>value</th>
                </thead>
                <tbody>
                    {% for claim in token %}
                    <tr>
                        <td>{{claim}}</td><td>{{token[claim]}}</td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
        <a href="https://localhost:5000/logout?post_logout_redirect_uri={{post_logout_uri}}&state={{state}}">Logout</a>
    </div>
</body>

</html>